<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>MachServices</key>
    <dict>
      <key>com.ton31337.nerf.app.launchd</key>
      <true/>
    </dict>
    <key>Label</key>
    <string>com.ton31337.nerf.app.launchd</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Library/Services/Nerf/nerf-api</string>
      <string>-log-level</string>
      <string>debug</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
  </dict>
</plist>
